html{
	position: relative;
}
body{
	margin-bottom: 120px;
	margin-top: 50px;
}

.jumbotron{
	min-height: 610px;
	height: 200px;
	background-image: url('../img/9.PNG');
	background-attachment: fixed;
	background-size: cover ;
	background-position: 0 -20px;
	color: white;
	overflow: hidden;
}

.jumbotron img{
	width: 200px;
	border: 5px solid #666;
	height: 200px;	
	box-shadow: 1px 1px 10px rgba(0,0,0,0,5);
}

.jumbotron h1 , .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,0,5);
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px; 
}

.pKiri, .pKanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 2.5s;
}

.pKanan{
	transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}

.portfolio {
	background-color: #ddd;
}

.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;
}

.portfolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.skill{
	min-height: 800px;
}

.skill .progress{
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1s;
}

.skill .progress.tampil{
	opacity: 1;
	transform: translate(0,0);
}

.contact{
	background-color: #ddd;
	min-height: 750px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;
}

footer p{
	color: #aaa;
	font-size: 0.9em;
}

footer p i{
	color: salmon;
}


